* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Styles of Header Section */
header {
    background: rgba(229, 84, 115, 0.10);
}

.header-container {

    display: flex;
    justify-content: space-around;

}

/* Styles on header image */


.header-image {
    margin: 100px;
    margin-right: 240px;
    margin-bottom: 0px;
    width: 635px;
    height: 800px;
}

.header-items {
    text-align: left;
    margin: 197px 97px 0px 240px;

}

.header-title {
    color: #272727;

    font-size: 80px;
    width: 100%;

    font-weight: 800;

    display: flex;

}

.header-description {
    margin: 32px 0px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* styles on button */
.btn-primary {
    width: auto;
    margin: 20px;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    font-size: 16px;

    color: #fff;
    font-weight: 800;

}

.main-title{
  text-align: center; 
  margin-top: 178px;
  font-size: 40px;
  /* padding: 178px 764px 132px 764px; */
}
.main-description{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
    margin-top: 24px;
}
.fetur-flower {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin: 24px;
}
.main-features{
    display: flex;
    margin: 0 240px;
}
