* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Styles of Header Section */
header {
    background: rgba(229, 84, 115, 0.10);
}

.header-container {

    display: flex;
    justify-content: space-around;

}

/* Styles on header image */


.header-image {
    margin: 100px;
    margin-right: 240px;
    margin-bottom: 0px;
    width: 635px;
    height: 800px;
}

.header-items {
    text-align: left;
    margin: 197px 97px 0px 240px;

}

.header-title {
    color: #272727;

    font-size: 80px;
    width: 100%;

    font-weight: 800;

    display: flex;

}

.header-description {
    margin: 32px 0px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* styles on button */
.btn-primary {
    width: auto;
    margin: 20px;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    font-size: 16px;
    
    color: #fff;
    font-weight: 800;
    
}